<?xml version="1.0"?>
<launch>

    <arg name="droneIds" default="0,"/> <!-- you must put at least one comma (,) -->
    <!--
    Can be: <arg name="droneIds" default="0,1,2,..."/>
    -->

    <node pkg="multi_uav" name="joystick_node" type="joystick_node" output="screen">
        <param name="droneIds" value="$(arg droneIds)" />
    </node>

</launch>
