<?xml version="1.0"?>
<model>
  <name>House 43</name>
  <version>1.0</version>
  <sdf version='1.6'>house43.sdf</sdf>

  <author>
   <name>Maik Basso</name>
   <email>maik@maikbasso.com.br</email>
  </author>

  <description>
    The original model has been created by Luis.
    https://3dwarehouse.sketchup.com/model/c9e6d09e-ae82-48db-ac39-f38ec7800333/Casa-Moderna
  </description>
</model>
