<?xml version="1.0"?>
<launch>
   <!-- default number of UAVs -->
   <arg name="numberUAVs" default="3"/>
   <!-- vehicle configs -->
   <arg name="vehicle" default="iris"/>
   <!-- MAVROS, PX4 SITL, and spawns one vehicle -->
   <group ns="$(eval 'uav' + str(arg('numberUAVs') - 1 ))">
        <!-- vehicle configs -->
        <arg name="ID" value="$(eval arg('numberUAVs') - 1)"/>
        <!-- PX4 SITL and vehicle spawn -->
        <include file="$(find multi_uav)/launch/simulator/gazebo-test/single_vehicle_spawn2.launch">
            <arg name="ID" value="$(arg ID)"/>
            <arg name="vehicle" value="$(arg vehicle)"/>
            <arg name="x" value="1"/>
            <arg name="y" value="$(eval 0 + arg('numberUAVs'))"/>
            <arg name="z" value="0.05"/>
        </include>
        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(eval 'udp://:' + str(14540 + arg('numberUAVs') - 1) + '@localhost:' + str(14580 + arg('numberUAVs') - 1))"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>
    <!-- recursively start new UAV -->
   <include file="$(find multi_uav)/launch/simulator/gazebo-test/uav2.launch" if="$(eval arg('numberUAVs') - 1 > 0)">
        <arg name="numberUAVs" value="$(eval arg('numberUAVs') - 1)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
   </include>
</launch>
