<?xml version="1.0"?>
<launch>
   <!-- iris configs -->
   <arg name="id" default="0"/>
   <arg name="camera" default="false"/>
   <!-- Port et baudrate of the connexion with Pixhawk -->
   <arg name="fcu_url" default="/dev/ttyACM0:57600" />
   <!-- spawn uav id -->
   <group ns="$(eval 'uav' + str(arg('id')))">
      <!-- launch video stream from raspicam -->
      <include file="$(find raspicam_node)/launch/camerav1_1280x720.launch" if="$(eval arg('camera') == true)">
        <arg name="camera_id" default="0"/>
        <arg name="enable_raw" default="true"/>
        <arg name="camera_name" default="camera"/>
      </include>
      <!-- MAVROS -->
      <include file="$(find mavros)/launch/px4.launch">
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="gcs_url" value=""/>
        <arg name="tgt_system" value="$(eval 1 + arg('id'))"/>
        <arg name="tgt_component" value="1"/>
      </include>
    </group>
</launch>