<?xml version="1.0"?>
<model>
  <name>3DR Iris</name>
  <version>1.0</version>
  <sdf version='1.6'>iris_*.sdf</sdf>

  <author>
   <name>Maik Basso</name>
   <email>maik@maikbasso.com.br</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
